.home {
	text-align: center;
	height: 100vh;
	background-position: bottom;
	background-size: contain;
	background-repeat: no-repeat;
}

.home__title {
	font-family: var(--homemade-apple);
	line-height: 1.5;
}

.home__highlight {
	color: var(--yellow);
	font-family: var(--arvo);
}

.home__content {
	position: relative;
}

.home__buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 2rem;
}

.home__buttons > a {
	text-decoration: none;
	z-index: 10000;
}

.home__button {
	background-color: var(--yellow);
	border: none;
	border-radius: 30px;
	color: black;
	display: block;
	font-family: var(--arvo);
	font-size: 1rem;
	font-weight: bold;
	padding: .5rem 1rem;
	margin: .25rem;
	text-align: center;
	text-decoration: none;
	z-index: 10000;
}

.home__image {
	height: 500px;
	left: -100px;
	position: absolute;
	top: -51px;
}

@media (min-width: 769px) {
	.home {
		background-position: right;
	}

	.home__title {
		padding-top: 5rem;
	}

	.home__image {
		left: initial;
	}

	.home__buttons {
		max-width: 50%;
		margin: 0 auto;
		padding-top: 3rem;
	}
}
